@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@mixin media($w) {
    @media only screen and(max-width: $w + 'px') {
        @content;
    }    
}
//SCROLLBAR
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #fff; 
}
*::-webkit-scrollbar-thumb {
    background: #64c29e;
}
*::-webkit-scrollbar-thumb:hover {
    background: #5294eb; 
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4d4959;
}
#body {
    &.active {
        overflow: hidden;
    }
}
.container {
    max-width: 1130px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

// MODAL MENU
.menu {
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    &__wrapper {
        nav {
            display: flex;
            flex-flow: column;
            align-items: center;
            row-gap: 25px;
            a {
                font-size: 28px;
                color: #4d4959;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                transition: .15s linear;
                &:hover {
                    color: #64c29e;
                }
            }
        }   
    }
    &__close {
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            pointer-events: none;
            background: #64c29e;
            width: 100%;
            height: 1px;
            transition: .15s linear;
            &:nth-child(1) {
                top: 50%;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                top: 50%;
                transform: rotate(-45deg);
            }
        }
        &:hover span {
            background: #5294eb;
        }
    }
    &.active {
        display: flex;
    }
}

// HEADER
.header {
    width: 100%;
    height: 100vh;
    background: url('../img/main-bg.jpg') no-repeat center / cover;
    &__inner {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media(600) {
            justify-content: space-between;
         }
        ul {
            list-style: none;
            @include media(600) {
               display: none;
            }
            li {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 75px;
                    @include media(768) {
                        margin-right: 25px;
                    }
                }
                a {
                    color: #4d4959;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 700;
                    transition: .15s linear;
                    &:hover {
                        color: #64c29e;
                    }
                }
            }
        }
    }
    &__logo {
        margin: 0 75px;
        width: 94px;
        height: auto;
        @include media(768) {
            margin: 0 25px;
        }
        @include media(600) {
            width: 60px;
            margin: 0;
        }
    }
    &__burger {
        position: relative;
        display: none;
        width: 40px;
        height: 25px;
        border: 0;
        outline: 0;
        background: transparent;
        cursor: pointer;
        @include media(600) {
            display: block;
        }
        span {
            display: block;
            width: 100%;
            height: 1px;
            background: #64c29e;
            position: absolute;
            pointer-events: none;
            transition: .15s linear;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
            }
            &:nth-child(3) {
                top: 100%;
            }
        }
        &:hover span{
            background: #5294eb;
        }
    }
}

// BIKE
.bike {
    background: #f7f7f7;
    &__title {
        padding: 120px 0;
        font-weight: 700;
        text-align: center;
        @include media(768) {
            padding: 60px 0;
        }
        @include media(600) {
            padding: 30px 0;
        }
        img, h1 {
            margin-bottom: 30px;
            @include media(768) {
                margin-bottom: 15px;
            }
            @include media(600) {
                margin-bottom: 7px;
            }
        }
        h1 {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 5px;
            @include media(768) {
                font-size: 18px;
                letter-spacing: 2px;
            }
            @include media(600) {
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
        p {
            color: #848789;
            font-size: 18px;
            font-weight: 400;
            line-height: 2;
            @include media(768) {
                font-size: 14px;
                line-height: 1.5;
            }
            @include media(600) {
                font-size: 12px;
                line-height: 1.2;
            }
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 200px);
    @include media(768) {
        grid-template-rows: repeat(8, 200px);
    }
    @include media(600) {
        grid-template-rows: repeat(9, 200px);
    }
    &__block {
        padding: 0 25px;
        display: grid;
        place-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
        h2 {
            margin-bottom: 30px;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 5px;
            @include media(768) {
                margin-bottom: 15px;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }
        p {
            text-align: justify;
        }
        .bike__title {
            padding: 0;
        }
        &--1 {
            grid-column: span 4;
            grid-row: span 3;
            background-image: url('../img/grid-1.jpg');
            @include media(768) {
                grid-column: span 6;
                grid-row: span 1;
            }
        }
        &--2 {
            grid-column: span 2;
            grid-row: span 2;
            @include media(768) {
                grid-column: span 4;
                grid-row: span 1;
                img {
                    max-width: 30px;
                }
                h2 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                }
            }
            @include media(600) {
                grid-column: span 6;
                grid-row: span 1;
                img {
                    margin-bottom: 7px;
                }
                h2 {
                    margin-bottom: 7px;
                }
            }
        }
        &--3 {
            grid-column: span 2;
            background-image: url('../img/grid-2.jpg');
            @include media(768) {
                grid-column: span 2;
                grid-row: span 1;
            }
            @include media(600) {
                grid-column: span 6;
                grid-row: span 1;
            }
        }
        &--4 {
            grid-column: span 2;
            grid-row: span 2;
            @include media(768) {
                img {
                    max-width: 30px;
                }
                h2 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                }
            }
            @include media(600) {
                grid-column: span 6;
                grid-row: span 1;
                img {
                    margin-bottom: 7px;
                }
                h2 {
                    margin-bottom: 7px;
                }
            }
        }
        &--5 {
            grid-column: span 4;
            grid-row: span 3;
            background-image: url('../img/grid-3.jpg');
            @include media(768) {
                grid-row: span 2;
            } 
            @include media(600) {
                grid-column: span 6;
                grid-row: span 1;
            }     
        }
        &--6 {
            grid-column: span 2;
            background-image: url('../img/grid-4.jpg');
            @include media(768) {
               grid-column: span 6;
            }
            @include media(600) {
                grid-column: span 3;
            }
        }
        &--7 {
            grid-column: span 2;
            grid-row: span 3;
            background-image: url('../img/grid-5.jpg');
            @include media(600) {
                grid-column: span 3;
                grid-row: span 1;
            }
        }
        &--8 {
            grid-column: span 2;
            grid-row: span 2;
            @include media(768) {
                img {
                    max-width: 30px;
                }
                h2 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                }
            }
            @include media(600) {
                grid-column: span 3;
                grid-row: span 2;
                img {
                    margin-bottom: 7px;
                }
                h2 {
                    margin-bottom: 7px;
                }
            }
        }
        &--9 {
            grid-column: span 2;
            grid-row: span 3;
            background-image: url('../img/grid-6.jpg');
            @include media(600) {
                grid-column: span 3;
                grid-row: span 2;
            }
        }
        &--10 {
            grid-column: span 2;
            background-image: url('../img/grid-7.jpg');
            @include media(600) {
                grid-column: span 6;
                grid-row: span 1;
            }
        }
    }
}

// TESTIMONIALS
.testimonials {
    padding: 100px 0;
    @include media(768) {
        padding: 50px 0;
    }
    @include media(600) {
        padding: 25px 0;
    }
    &__block {
        text-align: center;
        min-height: 250px;
        @include media(600) {
            min-height: 200px;
        }
        img {
            max-width: 40px;
            margin-bottom: 40px;
            @include media(600) {
                max-width: 30px;
                margin-bottom: 20px;
            }
        }
        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 30px;
            white-space: nowrap;
            h3 {
                font-size: 20px;
                @include media(600) {
                    font-size: 18px;
                }
            }
            span {
                font-size: 18px;
                color: #848789;
            }
            @include media(600) {
                margin-bottom: 15px;
            }
        }
        p {
            font-size: 24px;
            font-style: italic;
            color: #848789;
            @include media(600) {
                font-size: 16px;
            }
        }
    }
}
.mySwiper {
    overflow: hidden;
}

// SECOND GRID BIKE
.secondGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 260px);
    @include media(768) {
        grid-template-rows: repeat(3, 200px);
    }
    @include media(600) {
        grid-template-rows: repeat(3, 150px);
    }
    &__block {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        &--1 {
            background-image: url('../img/sec-1.jpg');
            @include media(768) {
                grid-column: span 2;
            }
            @include media(600) {
                grid-column: span 3;
            }
        }
        &--2 {
            background-image: url('../img/sec-2.jpg');
            @include media(768) {
                grid-column: span 2;
            }
            @include media(600) {
                grid-column: span 3;
            }
        }
        &--3 {
            grid-row: span 2;
            background-image: url('../img/sec-3.jpg');
            @include media(768) {
                grid-row: span 3;
            }
            @include media(600) {
                grid-row: span 2;
                grid-column: span 1;
            }
        }
        &--4 {
            grid-row: span 2;
            background-image: url('../img/sec-4.jpg');
            @include media(768) {
                grid-row: span 3;
            }
            @include media(600) {
                grid-row: span 2;
                grid-column: span 1;
            }
        }
        &--5 {
            grid-column: span 2;
            background-image: url('../img/sec-5.jpg');
        }
        &--6 {
            grid-column: span 2;
            background-image: url('../img/sec-6.jpg');
        }
        &--7 {
            grid-column: span 1;
            background-image: url('../img/sec-7.jpg');
            @include media(768) {
                grid-column: span 2;
            }
        }
        &--8 {
            grid-column: span 1;
            background-image: url('../img/sec-8.jpg');
            @include media(768) {
                grid-column: span 2;
            }
        }
        &-shop {
            width: 100%;
            height: 100%;
            display: none;
            justify-items: center;
            align-content: center;
            row-gap: 5px;
            background: rgba(#6dba9c, 0.5);
            animation: grid-second .15s linear;
            img {
                @include media(600) {
                    max-width: 30px;
                }
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 2px;
                font-size: 18px;
                @include media(600) {
                    font-size: 12px;
                    letter-spacing: 1px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            &--3, &--4 {
                @include media(768) {
                    a {
                        writing-mode: vertical-rl;
                     }
                } 
            }
        }
        &:hover &-shop {
            display: grid;
            backdrop-filter: blur(2px);
        }
    }
}
@keyframes grid-second {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
// DISCOVER
.discover {
    width: 100%;
    height: 200px;
    background: #282f35;
    display: grid;
    place-content: center;
    @include media(600) {
        height: 100px;
    }
    &__btn {
        padding: 10px 30px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        color: #fff;
        letter-spacing: 2px;
        border: 1px solid #fff;
        transition: .15s linear;
        @include media(768) {
            font-size: 18px;
            padding: 5px 15px;
        }
        @include media(600) {
            font-size: 14px;
            padding: 5px 15px;
            letter-spacing: 1px;
        }
        &:hover {
            background: #fff;
            color: #282f35;
        }
    }
}
// ENTER
.enter {
    padding: 100px 0;
    display: grid;
    place-content: center;
    @include media(600) {
        padding: 50px 0;
    }
    &__logo {
        figure {
            text-align: center;
            margin-bottom: 30px;
            img {
                margin-bottom: 30px;
            }
            figcaption {
                font-size: 22px;
                font-weight: 400;
                font-style: italic;
                color: #848789;
            }
        }
    }
    &__input {
        form {
            input {
                padding-top: 15px;
                padding-bottom: 15px;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                font-weight: 400;
                &:nth-child(1) {
                    padding-left: 15px;
                    padding-right: 15px;
                    width: 300px;
                    border: 1px solid #c8c8c8;
                    color: #848789;
                    outline: none;
                    transition: .2s linear;
                    @include media(600) {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                    &::placeholder {
                        color: #c8c8c8;
                        font-family: 'Lato', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        font-style: italic;
                    }
                    &:hover  {
                        border: 1px solid #848789;
                    }
                    &:active, &:focus,&:visited {
                        border: 1px solid #64c29e;
                    }
                }
                &:nth-child(2) {
                    background: #64c29e;
                    border: 1px solid #64c29e;
                    outline: none;
                    color: #fff;
                    padding-left: 30px;
                    padding-right: 30px;
                    cursor: pointer;
                    transition: .2s linear;
                    &:hover {
                        background: transparent;
                        color: #64c29e;
                    }
                    @include media(600) {
                        width: 100%;
                    }
                }
            }
        }
        
    }
}
// FOOTER
.footer {
    padding: 100px 0;
    background: #ebebeb;
    @include media(768) {
        padding: 50px 0;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include media(768) {
            flex-direction: column;
            justify-content: center;
            row-gap: 50px;
        }
        @include media(600) {
            row-gap: 25px;
        }
    }
    &__address {
        color: #8c8e90;
        font-size: 18px;
        @include media(768) {
            text-align: center;
        }
        h4 {
            font-style: normal;
        }
        p {
            font-style: italic;
            font-size: 16px;
        }
        a {
            text-decoration: none;
            color: #64c29e;
            &:hover {
                text-decoration: underline;
            }

        }
    }
    &__social {
        display: flex;
        column-gap: 10px;
        a {
            display: inline-block;
            img {
                transition: .1s linear;
            }
            &:hover img {
               filter: drop-shadow(0 3px 3px rgba(100, 194,	158, 1));
            }
        }
    }
    &__made {
        display: inline-flex;
        align-items: center;
        column-gap: 10px;
        p {
            color: #8c8e90;
            font-style: italic;
            font-size: 16px;
        }
    }
}